<!DOCTYPE html5>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>QUERY</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <div>
            <span>
                端类型
            </span>
            <select id="terminal_type">
                <option value="I">IOS</option>
                <option value ="M">Mac</option>
                <option value="A">Android</option>
                <option value ="W">Windows</option>
                <!-- <option value="HDC">HDC</option> -->
            </select>
        </div>
        <br></br>

        <div>
            <span> 开始时间 </span>
            <input id="start_time" type="datetime-local" step="1" value="2022-11-10T15:14">
            <span> 结束时间 </span>
            <input id="end_time" type="datetime-local" step="1" value="2022-11-19T15:15">
        </div>
        <br></br>

        <div>
            <span> 版本 </span>
            {% for version in versions %}
            <div>
                <input type="checkbox" id="{{version}}" class="VERSION">
                <label for="{{version}}"> {{version}} </label>
            </div>
            {% endfor %}

        </div>
        <br></br>

        <div>
            <span> 打点关键字 </span>
            <select id="dot_key">
                {% for key in keys %}
                <div>
                    <option value ="{{key}}">{{key}}</option>
                </div>
                {% endfor %}
            </select>
        </div>
        <br></br>

        <div>
            <button id="btn_query">query</button>
        </div>
        <br></br>

        <hr />

        <div>
            <span>
                {{ condition }}
            </span>
            <br></br>
            <span>
                {{ sql_statement }}
            </span>
            <br></br>
            <span>
                {{ total_count }}
            </span>
        </div>
        <br></br>
        <table style="width:100%">
            <thead>
                {% for th in ths %}
                <div>
                    <th width="130"> {{ th }} </th>
                </div>
                {% endfor %}
            </thead>
            <tbody id="query_result">
                <meta charset="UTF-8">
                {% for record in records %}
                <tr>
                    {% for item in record %}
                    <td width="130">{{ item }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}" ></script>
        <script src="{{ url_for('static', filename = 'js/event_tracking.js') }}" ></script>

    </body>
</html>
